


<h3>Jugador 2 Adivine el codigo secreto:</h3>
<h4> intento numero :<%= @@numIntentos %>
<form method='post' action='/adivinar'>
  <input type='text' name='Numero'>
  <input type='submit' value= 'Aceptar'>
</form>