<!DOCTYPE html>
<head>
    <title>Toros y vacas</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/968afb90-ac92-44de-a6d9-bbd220b7fa64/dbjfnhu-7ec368ac-aa3c-4ce2-a180-016c70b5b92e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOTY4YWZiOTAtYWM5Mi00NGRlLWE2ZDktYmJkMjIwYjdmYTY0XC9kYmpmbmh1LTdlYzM2OGFjLWFhM2MtNGNlMi1hMTgwLTAxNmM3MGI1YjkyZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.DblfxQePmgf7fKni9Sx5GnfZ0OeHTHktF7KhzLyq7xo" type="image/png">
    <style type = text/css> 
        html{
            font-family: 'Montserrat', sans-serif;
        }
        header{
            height: 95px;
            margin:auto;
            display:flex;
            text-align:justify;
            justify-content: space-between;
            background-color:#020301;
            color:#f3f5f9;
            padding:20px;
        }
        footer{
            background-color:#020301;
            color:#f3f5f9;
            padding:20px;
            text-align: center;            
            width:100%;
        }
        body{
          background-color:#f3f5f9;
          color:#020301;
        }
        header img{
            margin-right:50px;
        }
        header .left{
            display: flex;
        }
        header img .vaca{
            text-align: right;
            margin: 0px;
        }

        header .titulo-container{
            margin:0px;
            align-content: center;
            height: 30px;
        }
        body{
            margin:0px;

        }
        body .main{
            background-color:#f3f5f9;
            color:#020301;
            padding:30px;
            margin:0px;
        }
        form{
            text-align: center;
        }
        .button{
            background-color:#020301;
            color:#f3f5f9;
            padding:10px;
            border-radius: 3px;
            width: auto;
            font-size: 20px;
            text-transform: capitalize;
        }
        .button:hover{
            background-color:#90adc6;
            color:#020301;
        }
        .last-title{
            text-align:center;
            padding-top: 30px;
        }
        .buts{
            padding-top:10px;
        }
    </style>
</head>
<body>
    <form method='post' action='/aceptar'>
        <h2>CONFIGURACIONES JUGADOR 1</h2>
        <p>Debes ingresar tu nombre</p>
        <input type='text' name='Nombre1' class="insert">
        <p>HARD : el codigo secreto tendra 8 digitos</p>
        <p>MEDIUM : el codigo secreto tendra 6 digitos</p>
        <p>EASY : el codigo secreto tendra 4 digitos</p>
        <p>Debes ingresar la dificultad EASY-MEDIUM-HARD</p>
        <input type='text' name='dificultad' class="insert">
        <p>Codigo numerico: el codigo tendra solamente numeros </p>
        <p>Codigo de colores: el codigo tendra solamente letras, que seran iniciales de los colores </p>
        <p>Debes ingresar NUMEROS O COLORES</p>
        <input type='text' name='codigo' class="insert">
        <p>Debes ingresar el numero de intentos de tu preferencia, si no ingresas ningun numero el numero de intentos sera 1 por defecto</p>
        <input type='text' name='intentos' class="insert">
        <h2>CONFIGURACIONES JUGADOR 2</h2>
        <p>Debes ingresar tu nombre</p> 
        <input type='text' name='Nombre2' class="insert">
        <div class="buts">
          <input type='submit' value='Ingresar' class="button">
        </div>
    </form>
</body>
<footer>
    <p>By: Daniel Acero, Mercedes La Fuente, Juslan Vargas, Karol Zerna</p>
</footer>
</html>