<h3>El intento ingresado es erroneo, el codigo deberia contener solo numeros y 4 digitos.<br> Vuelva a intentar:</h3>
<form method='post' action='/intento'>
  <input type='submit' value= 'Volver a Ingresar un Intento'>
</form>