<!DOCTYPE html>
<head>
    <title>Vacas y Toros</title>
    <link rel="stylesheet" href="/public/styles.css" type="text/css">
</head>
<body>
    <h1>Toros y Vacas</h1>
    <p>Jugador 1 <br>
    Debes insertar un código secreto de 4 cifras compuesto solamente de números y no se debe repetir el mismo digito</p>
    <p>Jugador 2<br>
    Debes adivinar el código secreto</p>
    El codigo secreto no tiene dos cifras repetidas</p>

    <p>Un toro indica que uno de los dígitos ingresados
    coincide exactamente con el valor y la posición de uno
    de los dígitos en el código secreto.</p>

    <p>Una vaca indica que uno de los dígitos ingresados
    coincide con el valor de uno de los dígitos en el código
    secreto, pero que se encuentra en una posición incorrecta.</p>

    <h2>Cuentas con 10 intentos  para adivinar el código secreto.</h2>

    <form method='post' action='aceptar'>
        <input type='submit' value='aceptar'>
    </form>
</body>
</html>